@import '../styles/vars';

.edit-task {
  &__form {
    margin-top: 24px;
    color: $black;
  }

  &__title,
  &__detail,
  &__datetime {
    width: 300px;
    margin-bottom: 25px;
  }

  &__button {
    background-color: $blue;
    color: $white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}

.delete-task {
  &__button {
    color: $red;
    border: solid 1px $red;
    width: 80px;
    height: 40px;
    margin: 25px 5px;
    border-radius: 5px;
  }
}
