@import '../styles/vars';

.new-task {
  &__form {
    margin-top: 24px;
    color: $black;
  }

  &__select-list,
  &__title,
  &__detail,
  &__datetime {
    width: 300px;
    margin-bottom: 25px;
  }

  &__detail {
    height: 200px;
  }

  &__button {
    background-color: $blue;
    color: $white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}
