.new-task {
  &__form {
    margin-top: 24px;
    color: #555555;
  }

  &__select-list,
  &__title,
  &__detail {
    width: 300px;
    margin-bottom: 25px;
  }

  &__detail {
    height: 200px;
  }

  &__button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}
