.signup {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  &__form {
    margin: 25px 0;
    color: #555555;
  }

  &__email-input,
  &__name-input,
  &__password-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }

  &__button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}
