@import '../styles/mixin';
@import '../styles/vars';

.header {
  width: 100%;
  height: 60px;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  @include mq(md) {
    height: 54px;
  }

  &__title {
    text-decoration: none;
    font-size: 32px;
    color: $white;

    @include mq(md) {
      font-size: 24px;
    }
  }

  &__sign-out-button {
    color: $white;
  }
}
