.header {
  width: 100%;
  height: 60px;
  background-color: #242f9b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  &__title {
    text-decoration: none;
    color: #ffffff;
  }

  &__sign-out-button {
    color: #ffffff;
  }
}
